.main {
  background: #f8f8f8;
  padding: 150px 0;
}
.sign-up {
  margin-bottom: 150px;
}

.container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 15px 17px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 17px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.sign-up-content {
  padding: 75px 0;
}

.md-layout-item {
  width: 100%;
}

.sign-up-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px;
}

.sign-up-image {
  margin: 0 55px;
}

.form-title {
  line-height: 1.66;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}

.register-form {
  width: 100%;
}

.sign-up-form, .sign-up-image, .sign-in-form, .sign-in-image {
  width: 50%;
  overflow: hidden;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.form-group:last-child {
  margin-bottom: 0;
}

.md-field {
  width: 75%;
}

.form-button {
  text-align: center;
}

